body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.side-menu{
    background-color: #254c7c;
    width: 300px;
    height: 100vh;
    float: left;
}

.logo-box{
    height: 110px;
    width: 110px;
    background: url("/presentaion/images/logo.png") center no-repeat;
    background-size: contain;
    position: relative;
    margin: 1rem auto 0 auto; 
}

.name-box{
    height: 4rem;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.user_type{
    color: white;
    font-size: 18px;
}

.user_name{
    font-size: 16px;
    color: grey;
    display: block;
}

.family_name{
    color: gray;
    font-size: 15px;
}

.side-options{
    padding-left: 1rem;
    height: 3rem;
    vertical-align: middle;
    line-height: 3rem;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

.side-options:hover{
    color: white;
}

.active{
    color: white;
}

.side-btn{
    width: 90%;
    height: 3rem;
    background-color: #12263f;
    border-radius: 10px;
    margin: 2rem auto 2rem auto;
    font-weight: bold;
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 3rem;
    font-size: 20px;
    cursor: pointer;
}

.main-section{
    background-color: #12263f;
    float: left;
    width: calc(100% - 300px);
    height: 100vh;
    overflow: none;
}

.main-wrapper{
    height: 90%;
    width: 90%;
    margin: 1rem auto;
}

.title-box{
    width: 20rem;
    height: 3rem;
    font-size: 23px;
    color: white;
    font-weight: bold;
    margin-top: 4rem;
}

.expense-box{
    width: 100%;
    height: calc(100% - 5rem);
    overflow-y: scroll;
}

.expense-box::-webkit-scrollbar{
    width: 0;
}

.expense-tile{
    width: 90%;
    height: 90px;
    margin: 1rem 0;
    padding: 10px 0 10px 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    background-color: #254c7c;
}

.expense-mem-name{
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.expense-type{
    float: left;
}

.expense-side-box{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 350px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: 10px;
}

.expense-amount{
    float: left;
    font-size: 25px;
}

.edit-btn{
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    border-color: white;
    text-align: center;
    border-style: solid;
    border-width: 3px;
}

.edit-btn:hover{
    background-color:rgb(151, 151, 27);
}

.delete-btn{
    height: 30px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.delete-btn:hover{
    background-color: red;
}